h1 {
    text-indent: 230px;
}

table{
    border: 5px solid gray;
   
}

td {
    border: 3px solid white;
    width: 100px;
    height: 100px;    
    background: rgb(145, 170, 218);
    margin: 500px;
    text-align: center;
    
}

td .flipped {
    transform: rotateY( 90deg );
}

