h1 {
    text-indent: 230px;
    color: grey ;
}

table{
    border: 5px solid gray;
}

h2 {
   text-indent: 830px;
   color: indianred; 
}

p {
    position: absolute;
    margin-left: 700px;
    margin-top: 40px;
    color: indianred
}

td {
    border: 3px solid white;
    width: 100px;
    height: 100px;    
    background: rgb(145, 170, 218);
    margin: 500px;
    text-align: center;
}

.front, .back{
    position: absolute;
    top: 45px;
    left: 45px;
    backface-visibility: hidden;
}

.front{
    z-index: 2;
    transform: rotateY(0deg);
}

.back{
    transform: rotateY(180deg);
}

.flip-box{
    transition: 0.6s;
    position: relative;
    transform-style: preserve-3d;
}

.flip-box .back {
    text-align: center;
}
        

.flip-box.flipped {
    transform: rotateY(180deg);
    background: lightcoral;
}
.flip-box.matched {
    transform: rotateY(180deg);
    background: lightcoral;
}
