h1 {
    text-indent: 230px;
    color: grey ;
}

table{
    border: 5px solid gray;
   

}

h2 {
   text-indent: 830px;
   color: indianred; 
}

p {
    position: absolute;
    margin-left: 700px;
    margin-top: 40px;
    color: indianred
}

td {
    border: 3px solid white;
    width: 100px;
    height: 100px;    
    background: rgb(145, 170, 218);
    margin: 500px;
    text-align: center;  
       
}
td div{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
   
    transition:all 2s ease-in-out;
    perspective: 800px;
    perspective-origin: 50% 100px;
}

td.flipped div {
    visibility: visible;
    opacity: 1;
}

td.flipped {
    transform:rotateX(180deg);
}