h1 {
    position: absolute;
    margin-top: 20px;
    margin-left: 230px;
    color: grey ;
}

table{
    border: 5px solid gray;
}

h2 {
   text-indent: 830px;
   color: indianred; 
}

p {
    position: absolute;
    margin-left: 700px;
    margin-top: 40px;
    color: indianred
}

td {
    border: 3px solid white;
    width: 100px;
    height: 100px;    
    background: rgb(145, 170, 218);
    margin: 500px;
    text-align: center;
}

.front, .back{
    position: absolute;
    top: 45px;
    left: 45px;
    backface-visibility: hidden;
}

.front{
    z-index: 2;
    transform: rotateY(0deg);
}

.back{
    transform: rotateY(180deg);
}

.flip-box{
    transition: 0.6s;
    position: relative;
    transform-style: preserve-3d;
}

.flip-box .back {
    text-align: center;
}
        

.flip-box.flipped {
    transform: rotateY(180deg);
    background: lightcoral;
}
.flip-box.matched {
    transform: rotateY(180deg);
    background: lightcoral;
}
.winningimage {
    visibility: hidden;
} 

img {
    position: absolute;
    margin-left: 700px;
    margin-top: 150px;  
}

@media screen and (max-width: 1200px) {

    td {
        width: 60px;
        height: 60px;    
    }
    h1 {
        margin-left: 50px;
    }
    h2 {
        position: absolute;
        text-indent: 50px;
        margin-top: 500px;
    }
    p {   
        margin-left: 10px;
        margin-top: 550px;
    }
    img {
        margin-left: 10px;
        margin-top: 600px;  
    }
}

/* Tooltip CSS - Credit: www.w3schools.com */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
.tooltip .tooltiptext {
    font-size: 14px;
    visibility: hidden;
    background-color: lightcyan;
    color: blueviolet;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1.3s;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
